/* Navbar.css */
.background{
  background-color:white;
}

.navbar{
  display: flex;
  padding: 10px 10px;
  color: black;
}

.logo {
  display: flex;
  height: auto;
  flex:1;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo img {
  width:100%;
}

.nav-links {
  display: flex;
  flex:8;
  flex-direction: row;
  margin-top: 10px;

}

/* Add styles for the 'About' link */
#about-link {
  color: black; /* Change this to your desired color */
  font-weight:bold;
  font-family: 'YourCustomFont', sans-serif;
}

#product-link{
  color:black;
  font-weight: bold;
  font-family: 'YourCustomFont', sans-serif;
}

/* Add styles for the 'Contact Us' link */
#contact-link {
  color: black; /* Change this to your desired color */
  font-weight: bold;
  font-family: 'YourCustomFont', sans-serif;
}

.nav-link {
  margin-right: 40px;
  font-weight: 100;
  text-decoration: none;
  color:black;

  white-space: nowrap;  /* to prevent text from wrapping ,, for text to appear in a single line*/
}

.nav-link:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  /* background-color: #333; */
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.nav-link:hover::before {
  content: attr(data-details);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.nav-link:hover::before {
  display: block;
}
/* for update button*/
  
.update-button {
  position: absolute;
  bottom: 750px;
  left: 380px;
}

.update-button button {
  display: inline-flex;
  background-color: #21d0c7;
  color: white;
  font-size: 20px;
  padding: 15px 70px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -160%;
  margin-bottom: 74px;
}

.update-button button:hover {
  background-color: #21d0c7c7;
}
/* for image below navbar */

.img-below-navbar {
  margin-top: 5%;
  /* width: 75%; */
  height: 580px;
  margin-left: 85px;

}


.image-container {
  position: relative;
  margin-top: 0px; /* Adjust as needed  gap between navbar and image*/
  margin-right: 5%;

}

.overlay-text h1 {
  
  font-size: 2em;
  margin-top: 70%;
  color: #21d0c7;
  background: white;
  padding: 10px;

}
.overlay-text h2{
  margin-top: 10%;
  
   font-size: 2em;
   color: black;
   background: white;
   padding: 10px;
   margin-left: 0%;

}



/* Add styles for the 'Products' dropdown */
.products-dropdown-container {
  position: relative;
  font-size: 20px;
}

.products-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: black;
}

.domain-dropdown-container {
  position: relative;
  font-size: 20px;
  font-family: 'YourCustomFont', sans-serif;
}

.domain-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: black;
}
